header{
	background-color: grey;
	color:white;
	font-family: sans-serif;
}
body{
background-color:white;
font-family: sans-serif;
	color:blue;
}
footer{
	background-color: grey;
	color:white;
	font-family: sans-serif;
}
